<%- include('partials/header.ejs') %>

<main>
  <section class="quiz">
    <article class="question-container">
    <h1 class="question"><%- data.synopsis %></h1>
    <h2 class="score-board">
      Jouw score:
      <span class="score-number">0</span>/<span class="answered-number">0</span>
    </h2>
  </article>
  <form class="quiz-form">
    <div class="all-options">
      <div class="option">
        <input type="radio" id="option" value="<%- data.name %>" name="quiz">
        <label class="label-bold" for="option">
          <span class="letter">
          </span> 
          <%- data.name %>
        </label>
      </div>
    </div>
    <div class="form-buttons">
      <button type="submit">Verstuur</button>
      <% links.forEach((link) => { %>
        <a href="/quiz/<%- link.book_id + 1 %>">Volgende</a>
      <% }) %>
    </div>
  </form>
</section>
</main>

<%- include('partials/footer.ejs') %>